# ----- OS junk -----
.DS_Store

# ----- Python cruft -----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ----- Environments -----
venv/
.venv/
env/
.env/
ENV/
*.env
workshop_2025/mleeg/
machine_learning/mlenv/
deep_learning/dlenv/

# ----- Jupyter notebooks -----
.ipynb_checkpoints/
Untitled*.ipynb

# ----- Data files -----
HBN-EEG_data/
machine_learning/nilearn_cache/
machine_learning/nilearn_data/
deep_learning/nilearn_cache/
deep_learning/data/

# ----- VS Code / editor stuff -----
.vscode/
*.code-workspace

# ----- Misc build / cache -----
*.egg-info/
.dist/
build/
dist/
.pytest_cache/
.mypy_cache/

# ----- My ugly drafts -----
draft.ipynb

# ----- I cloned a repo inside my repo LOL... -----
bids-and-mne/
deep_learning/binder/
deep_learning/__requirements__.txt

